@{
    ViewBag.Title = "About";
}
<h2 class="text-primary">@ViewBag.Title.</h2>


<div class="text-justify" style="font-size:18px">
    <p>
        &emsp;The placement and training department is headed by Prof. G Satish Kumar, Department of Computer Science and Prof. Vijaya Ragavan H G, Department of Computer Science. The cell is provided with all the facilities to enable the deserving students of the institution to get competitive placements. Placement cell has been arranging training in aptitude test and soft skills for students before attending the campus recruitment programme.
    </p>
    <p>
        &emsp;At The NATIONAL COLLEGE BASAVANAGUDI we provide the students with application-oriented knowledge. This knowledge exposes them to the challenges and issues they will need to address later. The college also offers support services for start – up companies.
    </p>
    <div style="border:2px solid blue;height:208px;">
        <marquee behavior="scroll" direction="left">
            <img src="~/Scroll Images/IBM_logo.png" width="350" height="164" style="border-right: 4px solid #33DCFF;border-left: 4px solid #33DCFF;height: 204px;padding-left: 50px; padding-right: 50px;padding-top: 20px; padding-bottom: 20px;" />
            <img src="~/Scroll Images/Wipro_Logo.png" width="350" height="164" style="border-right: 4px solid #33DCFF;height: 204px;padding-left: 50px; padding-right: 50px;padding-top: 20px; padding-bottom: 20px;" />
            <img src="~/Scroll Images/infosys-logo-PNG.png" width="350" height="164" style="border-right: 4px solid #33DCFF;height: 204px;padding-left: 50px; padding-right: 50px;padding-top: 20px; padding-bottom: 20px;" />
            <img src="~/Scroll Images/LTI_Lets_solve.png" width="350" height="164" style="border-right: 4px solid #33DCFF;height: 204px;padding-left: 50px; padding-right: 50px;padding-top: 20px; padding-bottom: 20px;" />
            <img src="~/Scroll Images/Deloitte_Logo.png" width="350" height="164" style="border-right: 4px solid #33DCFF;height: 204px;padding-left: 50px; padding-right: 50px;padding-top: 20px; padding-bottom: 20px;" />
        </marquee>
    </div>
    <h3 class="text-primary text-center">Activities.</h3>
    <p>
        &emsp;
        The cell usually starts placement activity for the students from 5th semester onwards. The placement drive starts both by the college and by the company through email, telephonic conversation and face to face HR/placement officer interaction. After confirming the Date and Venue. The placement officer informs all the final year students about the Date and Venue, 10 to 15 days before the placement drive starts. The college also co-ordinates off-campus events which are conducted in other colleges of Bangalore. The college Placement cell is also a member of BANGALURU PLACEMENT OFFICERS FORUM which conducts HR-Placement Meets to help the students in getting placed in different companies.

    </p>
    <h3 class="text-primary">Procedures carried-out by Placement Cell in placement drive:</h3>

    <ul>
        <li>Companies are contacted ahead of the beginning of the placement process.</li>
        <li>Companies provide necessary data through E-mail System.</li>
        <li>The Data is studied and a formal invitation is sent by e-mail.</li>
        <li>A mutually convenient date and time for PPT & selection process is fixed.</li>
        <li>Visit is announced to the students along with data given in E-mail.</li>
        <li>A week before the visit of the company, interested and eligible students provide information to the placement cell.</li>
        <li>Essential details of applicants are provided to the company.</li>
        <li>Company re-confirms travel plan a week before the visit.</li>
        <li>Arrangements are made in the multi-media hall of the college and a student volunteer is selected to take care of logistics on campus.</li>
        <li>The selection list is announced or informed through E-Mail as soon as a company finalizes the selection.</li>
        <li>Students sign offer letter and a copy is forwarded to the company.</li>
    </ul>
    
    <h3 class="text-primary">Hosting companies on campus</h3>
    <p>
        &emsp;The training & placement cell provides facilities for the visiting companies to conduct pre-placement talks, written tests, group discussions and interviews. Audio visual aids like laptops, LCD projectors for pre placement talks and internet facilities for online tests will be arranged upon prior intimation. Accommodation and food are provided at the institute for the company on prior intimation and the costs of these are borne by the institute. There are no placement registration charges for a company. Boarding and lodging facilities, if required, will be provided. The institute provides digital projection facilities, rooms for presentation, tests and interviews.
    </p>
    <h3 class="text-primary">Measures Taken by the College:</h3>
    <p>
        &emsp;The Communication skills program held in the V/ VI Semester focuses on teaching students of all courses. Students are taught the Fundamentals of Spoken English and the syllabus is so designed that all the four areas of language learning- reading, writing, listening and speaking are addressed. The final skill trains students to listen and speak in neutral accent. Group discussions are a part of the syllabus.
    </p>
</div>
